.footer {
  background-color: hsl(216, 6%, 17%);
  padding-top: 7%;
  padding-bottom: 2%;
 
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 100%;
  margin: auto;
  padding: 0;
}

.footer__text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  margin: 0 auto;
  text-align: center;
  max-width: 194px;
  
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  
  .footer {
  padding-top: 11%;
  padding-bottom: 2%;
  }

  .footer__container {
    flex-direction: column; 
    align-items: center;    
    width: 100%;            
    padding: 0;        
  }

  .footer__text {
    text-align: center;        
    font-size: 14px;
    line-height: 16px;
    max-width: 194px;
    margin: 0 auto;      
  }

}
@media screen and (max-width: 767px) {

  .footer {
  padding-top: 20%;
  padding-bottom: 2%;
  }

  .footer__container {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
  }

  .footer__text {
    text-align: center;
    font-size: 14px; 
    line-height: 14px;
    max-width: 194px;
    margin: 0 auto;
  }

}