.footer {
  background-color: #2A2C2F;
  padding-top: 92px;
  padding-bottom: 24px;
  display: flex;
  justify-content: center;
}

.footer__container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  max-width: 1280px;
  padding-left: 395px;
  padding-right: 241px;
}

.footer__text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  margin: 0;
  max-width: 194px;
  text-align: right;
}
