.intro {
  width: 65%;   
  max-width: 830px;  
  margin-left: 12%;
  box-sizing: border-box;
}

.intro__content {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  box-sizing: border-box;
}

.intro__title {
  font-family: "Inter", sans-serif;
  max-width: 100%;
  font-size: 54px;
  line-height: 58px;
  font-weight: 900;
  margin-bottom: 2vw;
}

.intro__description {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  width: 100%;
}

.intro__author {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  text-align: right;
  max-width: 732px; 
}

.intro__message {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 163%;
  font-weight: 400;
  margin: 32px 0 0 0;
  max-width: 722px; 
}


@media screen and (min-width: 768px) and (max-width: 1279px) {
  .intro {
    width: 94%;
    margin-left: 3%; 
    margin-right:3%;
    padding-top: 5%;      
    box-sizing: border-box;
  }

  .intro__content {
    width: 100%;
    max-width: none;
    display: block;
    padding: 0;
    box-sizing: border-box;
  }

  .intro__title {
    max-width: 707px;
    font-size: 45px;
    line-height: 49px;
    font-weight: 900;
    margin: 0 0 40px 0;
  }

  .intro__description {
    max-width: 720px;
    font-size: 24px;
    line-height: 34px;
    font-weight: 400;
    margin: 0 0 10px 0;
  }

  .intro__author {
    max-width: 720px;
    font-size: 24px;
    line-height: 34px;
    font-weight: 400;
    text-align: right;
  }

  .intro__message {
    max-width: 720px;
    font-size: 16px;
    line-height: 163%;
    font-weight: 400;
    margin: 32px 0 0 0;
  }
}


@media screen and (max-width: 767px) {
  .intro {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    box-sizing: border-box;
  }

  .intro__content {
    width: 90%;
    max-width: none;
    display: block;
    justify-content: center;
    box-sizing: border-box;
    margin: 0 auto;
  }

  .intro__title {
    font-size: 32px;
    line-height: 35px;
    font-weight: 900;
    margin: 0 0 40px 0;
    width: 100%;
  }

  .intro__description {
    font-size: 24px; 
    line-height: 30px; 
    font-weight: 400;
    margin: 0 0 10px 0;
    width: 100%;
  }

  .intro__author {
    font-size: 24px; 
    line-height: 34px; 
    font-weight: 400;
    text-align: right;
    margin: 0 0 32px 0;
    width: 100%;
  }

  .intro__message {
    font-size: 16px; 
    line-height: 163%;
    font-weight: 400;
    text-align: left;
    margin: 0;
    width: 100%;
  }
}
