.intro {
  margin-top: 42px;
  max-width: 964px; 
  margin-left: auto;
  margin-right: auto;
}

.intro__content {
  display: flex;
  flex-direction: column;
  max-width: 964px; 
  text-align: left;
}

.intro__title {
  font-family: "Inter", sans-serif;
  max-width: 830px;
  font-size: 54px;
  line-height: 58px;
  font-weight: 900;
  margin: 0 0 40px 0;
}

.intro__description {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  margin: 0 0 10px 0;
  max-width: 738px; 
}

.intro__author {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  text-align: right;
  max-width: 732px; 
}

.intro__message {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 163%;
  font-weight: 400;
  margin: 32px 0 0 0;
   max-width: 722px; 
}


@media screen and (max-width: 768px) {

  .intro__content {
    display: block;
    padding: 0 24px;
    max-width: 720px;
  }
  .intro__title {
  max-width: 707px;
  font-size: 45px;
  line-height: 49px;
  font-weight: 900;
  margin: 0 0 40px 0;
}

.intro__description {
  max-width: 720px;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  margin: 0 0 10px 0;
   
}

.intro__author {
  max-width: 720px;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  text-align: right;
  
}

.intro__message {
  max-width: 720px;
  font-size: 16px;
  line-height: 163%;
  font-weight: 400;
  margin: 32px 0 0 0;
  
}


}

@media screen and (max-width: 320px) {

  .intro {
    margin-top: 32px;
  }

  .intro__content {
    display: block;
    padding: 0 16px;
    max-width: 288px;
  }

  .intro__title {
    font-size: 32px;
    line-height: 35px;
    font-weight: 900;
    margin: 0 0 40px 0;
    width: 100%;
    
  }

  .intro__description {
    font-size: 24px; 
    line-height: 30px; 
    font-weight: 400;
    margin: 0 0 10px 0;
    width: 100%;
    
  }

  .intro__author {
    font-size: 24px; 
    line-height: 34px; 
    font-weight: 400;
    text-align: right;
    margin: 0 0 32px 0;
    width: 100%;
    
  }

  .intro__message {
    font-size: 16px; 
    line-height:163%;
    font-weight: 400;
    text-align: left;
    margin: 0;
    width: 100%;
    
  }

}

