.lead {
    display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 57px;
  margin-bottom: 60px;
  text-align: center;
  color: #ffffff;
  overflow: hidden; 
}

.lead__title {
  font-size: 96px;
  line-height: 100px;
  font-weight: 900;
  color: #ffffff;
  max-width: 720px;
  margin: 0 auto 32px auto;
  text-align: center;
}

.lead__subtitle {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  max-width: 720px;
  margin: 0 auto 64px auto;
  text-align: center;
}

.lead__image {
  width: 964px;  /* Tamaño visible en Figma */
  height: auto;
  display: block;
  margin: 0 auto; /* Centramos la imagen */
  filter: grayscale(100%);
}



@media screen and (max-width: 320px) {
}

* {
  outline: 1px solid red; /* traza líneas rojas alrededor de todos los elementos */
}