.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4%;
  margin-bottom: 5%;
  text-align: center;
  color: #ffffff;
  overflow: hidden;
}

.lead__title {
  font-size: 96px;
  line-height: 100px;
  font-weight: 900;
  color: #ffffff;
  max-width: 56%;
  margin: 0 auto 3% auto;
  text-align: center;
}

.lead__subtitle {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  max-width: 56%;
  margin: 0 auto 5% auto;
  text-align: center;
}

.lead__image {
  width: 75%;
  height: auto;
  display: block;
  margin: 0 auto;
  filter: grayscale(100%);
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .lead {
    margin: 0 auto;
    padding: 0;
  }

  .lead__title {
    width: 100%;
    max-width: 69%;
    font-size: 75px;
    line-height: 79px;
    font-weight: 900;
    padding:0;
    box-sizing: border-box;
    margin-top: 9%; 
    margin-bottom: 3%;
    text-align: center;
  }

  .lead__subtitle {
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    padding: 0 3% 4% 3%;
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    max-width: none;
    text-align: center;
  }

  .lead__image {
    display: block;
    width: 100vw;
    max-width: 100%;
    height: auto;
    max-height: 63vw;
    padding: 0 0 7%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .lead__title {
    width: 100%;
    max-width: 71%;
    font-size: 40px;
    line-height: 44px;
    font-weight: 900;
    margin-top: 50px;
    margin-bottom: 16px;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
  }

  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    padding: 0 5% 13% 5%;
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    max-width: none;
    text-align: center;
  }

  .lead__image {
    display: block;
    width: 100vw;
    max-width: 100%;
    height: auto;
    max-height: 63%;
    padding: 0 0 8%;
    margin: 0;
  }
}
