.places {
  max-width: 987px;
  margin: 0 auto;
  padding-top: 92px;
  box-sizing: border-box;
}

.places__list {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .places {
    max-width: 720px;
    padding-top: 88px;
  }

  .places__list {
    gap: 72px;
  }
}

@media screen and (max-width: 767px) {
  .places {
    max-width: 100%;
    padding: 8% 0 0;
  }

  .places__list {
    gap: 8vw;
  }
}
