.places {
  max-width: 987px;
  margin: 0 auto; 
  padding-top: 92px; 
  display: flex;
  flex-direction: column;
  gap: 80px; 
}

.place-card {
  display: grid;
  grid-template-areas:
    "title author"
    "image text"
    "button button";
  grid-template-columns: 1fr 1fr;
  color: #fff;
  max-width: 987px;
  margin: 0 auto 80px; 
}

.place-card__title {
  grid-area: title;
  font-size: 72px;
  line-height: 1.1;
  font-weight: 900;
  margin: 0;
  align-self: end;
}

.place-card__author {
  font-family: 'Inter', sans-serif;
  grid-area: author;
  text-align:left;
  align-self: baseline;
  margin-top: 85px;
  padding-left: 40px;
}

.place-card__subtitle {
  font-size: 12px;
  font-weight: 400;
  color: #aaaaaa;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  margin: 0;
}

.place-card__author-info {
  margin-top: 8px;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.place-card__image {
  grid-area: image;
  aspect-ratio: 1 / 1;
  margin-top: 48px;
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: filter 0.3s ease;
}

.place-card__image:hover {
  filter: brightness(0.85);
  cursor: pointer;
}

.place-card__button:hover {
  opacity: 0.9;
  cursor: pointer;

}

.place-card__text {
  grid-area: text;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
  margin-top: 48px;
  padding-left: 40px;
}

.place-card__paragraph {
  margin: 0;
  padding-bottom: 25px;
  padding-left: 0;
}

.place-card__button {
  grid-area: button;
  background: linear-gradient(90deg, #0278FE 0%, #003A7B 99.98%);
  color: white;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  padding: 13px 20px;
  font-weight: 600;
  font-size: 18px;
  justify-self: start;
}

.place-card__button:hover {
  filter: brightness(0.85); 
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.place-card--burundi {
  grid-template-areas:
    "title author"
    "image text"
    "button text";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto; 
}

.place-card--burundi .place-card__button {
  align-self: start;
  margin-top: -100px 
}

.place-card--celaya {
  grid-template-areas:
    "title author"
    "image text"
    "button text";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto; 
}

.place-card--celaya .place-card__button {
  align-self: start;
  margin-top: -70px 
}